@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply bg-black bg-opacity-40 backdrop-blur-md rounded-2xl;
}

.material-icons {
  font-size: 20px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.material-icons:hover {
  color: #60a5fa; /* Tailwind blue-400 */
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 transition-colors duration-300;
}
